nav {
    min-height: 96px;
}

.navbar-toggler {
    border: none;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: var(--font-bold);
}

.nav__cart {
    width: 1.5rem;
}

.nav__avatar {
    width: 1.75rem;
}

.nav__cart:hover,
.nav__avatar:hover {
    cursor: pointer;
}

.navbar-nav {
    font-weight: var(--font-bold);
    height: 100vh;
    padding: 6rem 0 0 1.5rem;
}

.navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    max-width: 400px;
    height: 100vh;
    background-color: var(--white);
    z-index: 2;
}

.navbar-close {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}

.navbar-nav .nav-link.active {
    color: var(--bs-nav-link-color);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.carousel {
    max-width: 500px;
    margin: 0 auto;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1;
}

.carousel-control-prev-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: .15rem;
    border-radius: 50%;
    background-color: var(--white);
    background-image: none;
}

.carousel-control-next-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: .15rem;
    border-radius: 50%;
    background-color: var(--white);
    background-image: none;
}

.prev-icon,
.next-icon {
    width: .5rem;
}

.carousel-content {
    max-width: 500px;
    margin: 0 auto;
}

.carousel-product {
    color: var(--orange);
}

.carousel-price {
    font-size: 1.5rem;
}

.carousel-discount {
    background-color: var(--orange-alt);
    color: var(--orange);
    border-radius: .5rem;
    padding: .25rem .5rem;
}

.carousel-original-price {
    font-size: 1.25rem;
    color: var(--grayish-blue);
    text-decoration-line: line-through;
}

.carousel-text {
    color: var(--dark-grayish-blue);
}

.carousel-indicators {
    position: inherit;
}

.product-slider {
    width: 80px !important;
    height: 80px !important;
    border-radius: 1rem;
}

.product-count {
    border-radius: 1rem;
    background-color: var(--light-grayish-blue);
}

.product-btn {
    border-radius: 1rem;
    background-color: var(--orange);
}

.product-btn:hover {
    background-color: var(--orange-hover);
}

.product-btn:active {
    background-color: var(--orange-hover) !important;
}

.product-cart {
    width: 1.25rem;
}

.cart-count { 
      background-color: var(--orange);
}

.card {
    top: 20px;
    width: 90%;
}

/*=============== RESPONSIVE ===============*/
@media screen and (min-width: 992px) {
    nav {
        margin: 1rem auto;
        padding: 0px !important;
        border-bottom: 2px solid var(--light-grayish-blue);
    }

    main {
        padding: 4rem;
    }

    .navbar-nav {
        gap: 1rem;
        height: 100%;
        padding: .75rem 0 0 0;
    }

    .navbar-user {
        padding: .5rem 0 0 0;
        order: 3;
    }

    .navbar-collapse {
        position: inherit;
        top: inherit;
        left: inherit;
        width: inherit;
        max-width: inherit;
        height: inherit;
        background-color: inherit;
    }

    .navbar-close {
        display: none;
        top: 1.5rem;
        left: 1.5rem;
    }

    .nav-link {
        padding: 2rem 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }

    .nav-link:hover {
        border-bottom: 4px solid var(--orange);
    }

    .nav__avatar {
        width: 3rem;
    }

    .carousel {
        justify-items: center;
    }

    .carousel,
    .carousel-content {
        margin: 0;
    }

    .carousel-inner {
        border-radius: 1rem;
    }
    
    .product {
        max-width: 1120px;
    }

    /*
    .navbar-user {
        gap: 3rem !important;
    }*/
}